body {
  margin: 0;
  padding: 2em;
  background-color: azure;
}
.nomeecognome {
  color: coral;
  font-family: cursive;
  font-weight: 400;
}
#presentazione {
  font-family: cursive;
  font-weight: 400;
}
.hobby {
  color: coral;
  font-family: cursive;
  font-weight: 400;
}
#hobbyparagraph {
  font-family: cursive;
  font-weight: 400;
}
.lemiecompetenze {
  color: coral;
}
.tabellainteressi {
  border-color: red;
  background-color: aliceblue;
  text-align: center;
}
.interessi {
  font-weight: bold;
}
